<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        {{ SearchForm(placeholder="search by id..", button_text="search") }}
    </div>

    {{ DynamicTable(
        table_id="LogsTable",
        columns=[
            {'header': 'ID', 'field': 'id', 'type': 'hidden'},
            {'header': 'date', 'field': 'date', 'type': 'humandate'},           
            {'header': 'message', 'field': 'message', 'type': 'msg'},
        ],
        items=items
    ) }}

    {{ Pagination(items) }}
</div>